/* border-box reset */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.whiteout {
    color: whitesmoke;

}

.buttoncol{
    color:black;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    text-align: center;
    flex: 1;
}

.link {
    width: 120px;
    align-items: center;
    justify-content: center;
}

.home-button {
    background-color: black;
    color: whitesmoke;
}

.spacer {
    width: 150px;
}

.homepage{
    height: 100vh;
    background-image: radial-gradient(#AAFF00, #AFE1AF);
    margin: 0;
}

.lasagnapage{
    height: 100vh;
    background-image: radial-gradient(#ff7b00, #e9450a);
    margin: 0;
}

.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.imgflex{
    display: flex;
    justify-content: center;
}

li{
    font-size: 20px;
}

.home-table{
    display: flex;
    border: 2px red;
    border-collapse: collapse;
    justify-content: center;
}

table th{
    padding: 30px 70px;
}

a {
    color: black;
    text-decoration: none;
}

.road{
    color: rgb(115, 44, 0);
    -webkit-text-stroke: 0.4px black;
}

.las{
    color:#e9450a;
}

.mcflat{
    color: rgb(230, 132, 11);
}

.gaslighter{
    color: #AAFF00;
    -webkit-text-stroke: 1px black;
}

.mcflatpage{
    background-color: bisque;
}
